body {
    background-image: url("../images/TWEWY.png");
    align-content: center;
    background-repeat: repeat;
}

#add {
    margin: 10px;
    color: white;
    font-weight: bold
}

.btn {
    margin: 10px;
    color: azure
}

p {
    color: rgb(255, 0, 0);
}